<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  href="{% url 'about' %}">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'portfolio' %}">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  href="{% url 'contact' %}">Contacts</a>
      </li>
    </ul>
    <div class="background-image">
      <div class="content-title">
        <h1>What have I done until now?</h1>
      </div>
      <div class="content" id="about-1">
        <div class="cnt-title">
          <p>2018 - 2022: Bachelor's in Mechanical Engineering</p>
        </div>
        <p>Graduated with a solid foundation in engineering principles.</p>
        <p>Delved into coursework covering mechanics, thermodynamics, and design.</p>
        <p>Collaborated on projects that brought theoretical knowledge to life.</p>
      </div>

      <div class="middle-content">
        <div class="right-item"></div>
        <div class="middle-content-container">
          <div class="content">
            <div class="cnt-title">
              Ongoing: Web Development Enthusiast
            </div>
            Side passion in web development and creating digital experiences.
            Building web applications, honing frontend skills, and managing back-end processes.
          </div>
          <div class="content">
            <div class="cnt-title">
              Life Outside Academia
            </div>
              Enthusiastic hiker, aspiring chef, and avid reader in my free time.
              Always on the lookout for new adventures and inspirations
          </div>
          <div class="content">
            <div class="cnt-title">
              Future: The Journey Ahead
            </div>
              Excited about the opportunities and projects that await in this dynamic intersection of engineering, data, and web development.
              Eager to apply my knowledge and creativity to new challenges and endeavors.
          </div>
        </div>
      </div>

      <div class="content" id="about-2">
        <p>2023 - 2024: Pursuing Master's in Data Science</p>
        <p>Embarked on a new adventure in the world of data.</p>
        <p>Learning the art of data analysis, machine learning, and predictive modeling.</p>
        <p>Exploring the boundless potential of data-driven insights.</p>
    </div>
    </div>
    <footer>
        <p>&copy; 2023 André Lopes</p>
    </footer>
</body>
</html>
