<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  href="{% url 'about' %}">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'portfolio' %}">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active"  href="{% url 'contact' %}">Contacts</a>
      </li>
    </ul>
    <div class="background-image">
      <div class="content-title">
        <h1>Exploring the Intersection of Engineering, Data Science, and Web Development</h1>
      </div>
      <div class="content">
        <p>Welcome to my digital realm! I'm André Lopes, a mechanical engineer with a passion for innovation and problem-solving. I've embarked on a journey that traverses the worlds of engineering, data science, and web development.</p>
        <p>Armed with a bachelor's degree in mechanical engineering, I've honed my skills in designing and building real-world solutions. But my curiosity doesn't stop there. Currently, I'm deep into a master's program in data science, delving into the realms of data analysis, machine learning, and predictive modeling.</p>
        <p>And that's not all. In my spare time, I've found a love for web development, a creative outlet where I can turn ideas into interactive digital experiences.</p>
        <p>This portfolio is a collection of my academic journey, showcasing the projects that bridge the gap between the physical and digital worlds. From engineering marvels to data-driven insights and web-based creations, I invite you to explore the fusion of these passions.</p>
        <p>Join me on this dynamic expedition where engineering precision meets data-driven insights and code transforms ideas into reality. Let's get started!</p>
      </div>
    </div>
    <footer>
        <p>&copy; 2023 André Lopes</p>
    </footer>
</body>
</html>

