
{% extends "homepage.html" %}
{% block title %}{{product.name}}{% endblock %}

{% block body %}
    <div class="product-page">
        <h1>{{ product.name }}</h1>
        <div class="product-details">
            <div class="product-image">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img src="/media/product_images/default.jpg">
                {% endif %}
            </div>
            <div class="product-text">
                <p class="text-item"><strong>Name:</strong> {{ product.name }}</p>
                <p class="text-item"><strong>Price:</strong> ${{ product.price }}</p>
                <p class="text-item"><strong>Category:</strong> {{ product.category }}</p>
                <p class="text-item"><strong>Description:</strong> {{ product.description }}</p>
            </div>
            <div class="cart-containter">
                <form method="post" class="cart-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="cart-button">Add to Cart</button>
                </form>
                
                <a href="{% url 'homepage:basket' %}" class="cart-link">View Cart</a>
            </div>
        </div>
        
    </div>
{% endblock %}

