body{
    margin: 0px;
    margin-top: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



nav {
    background-color: #8bb438;
    margin: 0px;
    padding: 0px;
}

nav ul {
    background-color: #FF7518;
    margin: 0px;
    padding: 0px;
    display: flex;
}

nav li {
    text-align: center;
    list-style: none;
    padding: 20px;
}

.end_nav {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    padding: 0px;
}

nav a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

/* Style for the grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(3, 50px); /* Responsive columns */
    grid-template-areas: 
        "header header header"
        "content content content"
        "content content content"
        "lcont lcont lcont";
    gap: 20px;
    padding: 20px;
    max-width: 100%; /* Ensure it fills the available width */
}

/* Style for grid items */
.grid-item {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    height: 100%; /* Fill the available height */
    display: flex; /* Make the contents centered vertically */
    flex-direction: column;
    justify-content: space-between;
}

/* Style for the header item */
.grid-item[style*="grid-area: header"] {
    font-size: 24px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
}

/* Style for the links within grid items */
.grid-item a {
    text-decoration: none;
    color: #333;
}

/* Hover effect for links */
.grid-item a:hover {
    text-decoration: underline;
    color: #007bff;
}



.bestsell-grid{
    display: grid;
    grid-template-columns: repeat(6, 300px);
    grid-template-rows: auto 100px;
    grid-template-areas: 
        "header header header header header header header"
        "content content content content content content content";
    background-color: #F2F4F5;
    grid-gap: 10px;
    list-style: none;
    padding-inline-start: 0px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden;
    white-space: nowrap; /* Prevent wrapping of grid items */
}


.bestsell-item{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
        "image title"
        "image desc";

}

.centered-header {
    background-color: #007bff;
    color: white;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    max-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header; /*
}

.bestsell-item:not([style*="grid-area: header"]):hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); /* Add a shadow on hover */
}

.bestsell-image-container{
    .image-container {
        width: 100px; /* Adjust the size of your black square as needed */
        height: 100px; /* Same as the width to create a square */
        overflow: hidden; /* Clip the image that exceeds the container */
        /* Center the image within the container */
        border-right: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
      }
}

.bestsell-image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

.image-container {
    width: 200px; /* Adjust the size of your black square as needed */
    height: 200px; /* Same as the width to create a square */
    overflow: hidden; /* Clip the image that exceeds the container */
    /* Center the image within the container */
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .product_container{
    display: flex;
    margin: 10px;
    border: 1px solid black;
    background-color: #F2F4F5;
  }
  
  .product_text {
    flex: 1; /* Second column fills the remaining space */
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: minmax(min-content, max-content) auto;
    grid-template-areas: 
        "title title price"
        "desc desc desc";
  }

  .product_container li {
    list-style: none;
    text-align: center;
  }

  #add_products {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
}

.arrow-button {
    position: relative;
    background-color: #fdfefe6f;
    z-index: 1;
    border: none;
    font-size: 24px;
    cursor: pointer;
    align-self: stretch;
}

.left-arrow {
    left: 0px;
}

.right-arrow {
    right: 0px;
}

.arrows-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F4F5;
    /* Additional styling for the container if needed */
  }

  /* Styles for the basket */
.basket {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.basket h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.basket-items {
    list-style-type: none;
    padding: 0;
}

.basket-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.product-name {
    font-weight: bold;
}

.product-price {
    font-weight: bold;
    color: #ff5722;
}

.product-quantity {
    font-style: italic;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

/* Styles for the empty basket message */
.empty-basket {
    text-align: center;
    padding: 20px;
}

.empty-basket a {
    text-decoration: underline;
    color: #007bff;
}


footer {
    background-color: #FF7518;
    margin-top: 100px;
    color: white;
}

.product-page{
    width: 800px;
}

.product-details {
    display: flex;
}

.product-image {
    align-items: center;
    margin-right: 20px;
    width: 300px;
    height: auto;
    overflow: hidden;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    /* You can adjust margin and sizing as needed */
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

.product-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Adjust the width as needed */
}

.text-item:nth-child(4) {
    flex-grow: 4; /* The fourth row will take 3 times the available space */
}

.text-item {
    flex-grow: 1; /* The first three rows will take an equal proportion of the available space */
    /* Additional styling as needed */
}

.cart-container {
    display: flex;
    text-align: center;
    align-items: center;
}

.cart-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.cart-form {
    display: flex;

}

.cart-button {
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-button:hover {
    background-color: #0056b3;
}

.cart-link {
    text-align: center;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

.cart-link:hover {
    text-decoration: underline;
}

label[for="id_quantity"] {
    display: none;
}






  
  
  
  
  
